<link rel="stylesheet" href="/stylesheets/auth.css">
<div class="all_page">
    
</div>

<div class="container">
    <div class="header">
        <img src="/images/logo.png" alt="">
    </div>
    <div class="login field">
        <input type="email" name="" id="email" placeholder="Enter email...">
    </div>
    <div class="pasword field">
        <input type="password" name="password" id="password" placeholder="Enter pasword..." minlength="8">
    </div>
    <div class="errors"></div>
    <div class="buttons">
        <div class="btn log_in">Log in</div>
        <div class="btn sign_in">Sign in</div>
    </div>
    <div class="info ">
        If you forgot your password, please click <a href=""> here</a> for recover password.
    </div>
</div>

<script src="/javascripts/auth.js"></script>