<link rel="stylesheet" href="/stylesheets/profile.css">
    {{>navigations}}

<div class="base">
    <div class="base_image">

    </div>
    <div class="bottom_info">
        <div class="profile_image"></div> 
        <div class="container">
            <div class="profile_name">
                Sergey Lisitskii
            </div>
            <div class="edit_page"> Edit Profile</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="left">
        <div class="block">
            <h1>Photo</h1>
            <div class="container_image">
                <div>
                    <img src="/images/profile.jpg" alt="">
                </div>
                <div>
                    <img src="/images/profile.jpg" alt="">
                </div>
                <div>
                    <img src="/images/profile.jpg" alt="">
                </div>
                <div>
                    <img src="/images/profile.jpg" alt="">
                </div>
                <div>
                    <img src="/images/profile.jpg" alt="">
                </div>
                <div>
                    <img src="/images/profile.jpg" alt="">
                </div>
                <div>
                    <img src="/images/profile.jpg" alt="">
                </div>
                <div>
                    <img src="/images/profile.jpg" alt="">
                </div>
            
            </div>
            <div class="buttons">
                <div class="add_photo">
                    Add Photo
                </div>
                <div class="show_gallery">
                    Show Gallery
                </div>
            </div>
        </div>
        <div class="block">
            <div class="post">
                <div class="post_header">
                    <div class="post_header_image">
                        <img src="/images/profile.jpg" alt="">
                    </div>
                    <div class="header_text">
                        <div class="post_header_name">Sergey Lisitskii</div>
                        <div class="header_time">21.11.2022</div>
                    </div>
                </div>
                <div class="text_container">
                    <div class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, necessitatibus. Nisi recusandae, non accusamus dignissimos similique mollitia sapiente reprehenderit vel repellendus voluptas, commodi veniam, odit quos facilis voluptates ipsam reiciendis!
                    </div>
                    <div class="container_image">
                        <img src="/images/profile.jpg" alt="">
                    </div>
                </div>
                <div class="reaction_container">
                    <div class="likes box_container">
                        <div class="image_container">
                            
                        </div>
                        <div class="count">
                            25
                        </div>
                    </div>
                    <div class="comments box_container">
                        <div class="image_container">

                        </div>
                        <div class="count">
                            39
                        </div>
                    </div>
                </div>
                <div class="user_comments_container">
                    <div class="comment">
                        <div class="image">
                            <img src="/images/profile.jpg" alt="">
                        </div>
                        <div class="text_container">
                            <div class="name">
                                Sergey Lisitskii
                            </div>
                            <div class="text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nulla animi, architecto illo totam repellat minus est cumque aspernatur, non harum deleniti suscipit culpa aut maxime ipsa delectus obcaecati ratione.
                            </div>
                        </div>
                        <div class="reactions">
                            <div class="middle_container">
                                <div class="image">

                                </div>
                                <div class="count">
                                    20
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="image">
                            <img src="/images/profile.jpg" alt="">
                        </div>
                        <div class="text_container">
                            <div class="name">
                                Sergey Lisitskii
                            </div>
                            <div class="text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nulla animi, architecto illo totam repellat minus est cumque aspernatur, non harum deleniti suscipit culpa aut maxime ipsa delectus obcaecati ratione.
                            </div>
                        </div>
                        <div class="reactions">
                            <div class="middle_container">
                                <div class="image">

                                </div>
                                <div class="count">
                                    20
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add_comment">
                        <div class="add_comment_image">
                            <img src="/images/profile.jpg" alt="">
                        </div>
                        <div class="add_comment_input">
                            <span class="input" role="textbox" contenteditable >Add comment...</span>
                        </div>
                        <div class="add_comment_button">
                            <img src="/images/send.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="block" >
            <h1 class="friend">Friends</h1>
            <div class="friend_container">
                <div class="friend_item">
                    <img src="/images/profile.jpg" alt="">
                    <div class="name">Kostia</div>
                </div>
                <div class="friend_item">
                    <img src="/images/profile.jpg" alt="">
                    <div class="name">Kostia</div>
                </div>
                <div class="friend_item">
                    <img src="/images/profile.jpg" alt="">
                    <div class="name">Kostia</div>
                </div>
                <div class="friend_item">
                    <img src="/images/profile.jpg" alt="">
                    <div class="name">Kostia</div>
                </div>
                <div class="friend_item">
                    <img src="/images/profile.jpg" alt="">
                    <div class="name">Kostia</div>
                </div>
                <div class="friend_item">
                    <img src="/images/profile.jpg" alt="">
                    <div class="name">Kostia</div>
                </div>
                <div class="friend_item">
                    <img src="/images/profile.jpg" alt="">
                    <div class="name">Kostia</div>
                </div>
                <div class="friend_item">
                    <img src="/images/profile.jpg" alt="">
                    <div class="name">Kostia</div>
                </div>
            </div>
        </div>
        <div class="block" >
            <h1 class="group">Group</h1>
            <div class="group_container">
                <div class="group_item">
                    <img src="/images/some_group.jpg" alt="">
                    <div class="group_name">Artificial Intelligence</div>
                </div>
                <div class="group_item">
                    <img src="/images/some_group.jpg" alt="">
                    <div class="group_name">Artificial Intelligence</div>
                </div>
                <div class="group_item">
                    <img src="/images/some_group.jpg" alt="">
                    <div class="group_name">Artificial Intelligence</div>
                </div>
                <div class="group_item">
                    <img src="/images/some_group.jpg" alt="">
                    <div class="group_name">Artificial Intelligence</div>
                </div>
                <div class="group_item">
                    <img src="/images/some_group.jpg" alt="">
                    <div class="group_name">Artificial Intelligence</div>
                </div>
                
            </div>
        </div>
    </div>
</div>