<link rel="stylesheet" href="/stylesheets/sign.css">

<div class="full-screen">
    
</div>
<div class="container">
        <div class="logo">
            <img src="/images/logo.png" alt="">
        </div>
        <input type="text" placeholder="Enter name...">
        <input type="text" placeholder="Enter lastname...">
        <input type="email" placeholder="Enter email...">
        <input type="password" placeholder="Enter password...">
        <input type="password" placeholder="Repeat password...">
        <div class="errors">
        </div>
        
        <div class="btn login">Login</div>
        <div class="btn sign-up">Sign up</div>
    
    </div>